{% extends "base.html" %}
{% load static %}
{% block title %}Востребованность{% endblock %}
{% block content %}
    <h2 class="demand-title">Востребованность</h2>

    <h3 class="dynamic-title">Динамика уровня зарплат по годам (C/C++ программист)</h3>
    <div class="table-graph-wrapper">
        <table class="dynamic-salary-table">
            <tbody>
                {% for row in dynamic_salary_all %}
                    <tr class="salary-row">
                        <td class="year-data">{{ row.year }}</td>
                        <td class="salary-data">{{ row.average_salary }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'demand/img/avg_salary_by_year_plot.png' %}" alt="График" class="graph dynamic-salary-graph">
        <table class="dynamic-salary-table">
            <thead>
                <tr>
                    <th>Год</th>
                    <th>Средняя зарплата</th>
                </tr>
            </thead>
            <tbody>
                {% for row in dynamic_salary_all %}
                    <tr class="salary-row">
                        <td class="year-data">{{ row.year }}</td>
                        <td class="salary-data">{{ row.average_salary }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 class="dynamic-title">Динамика количества вакансий по годам (C/C++ программист)</h3>
    <div class="table-graph-wrapper">

        <table class="dynamic-count-table">
            <tbody>
                {% for row in dynamic_count_all %}
                    <tr class="count-row">
                        <td class="year-data">{{ row.year }}</td>
                        <td class="vacancy-data">{{ row.vacancy_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'demand/img/vacancy_count_by_year.png' %}" alt="График" class="graph dynamic-count-graph">
    </div>
{% endblock %}