{% extends "base.html" %}
{% load static %}
{% block title %}Востребованность{% endblock %}
{% block content %}
    <h2 class="demand-title">Востребованность</h2>
    <h3 class="dynamic-title">Динамика уровня зарплат по годам ({{ prof }})</h3>
    <div class="table-graph-wrapper salary-dynamics-wrapper">
        <img src="{{salary_by_year_plot }}" alt="График" class="graph dynamic-salary-graph">
        <div class="trend-table mt-3">{{ salary_by_year_table|safe }}</div>
    </div>
    <h3 class="dynamic-title">Динамика количества вакансий по годам ({{ prof }})</h3>
    <div class="table-graph-wrapper vacancy-dynamics-wrapper">
        <img src="{{vacancy_by_year_plot }}" alt="График" class="graph dynamic-salary-graph">
        <div class="trend-table mt-3">{{ salary_by_year_table|safe }}</div>
    </div>
{% endblock %}
