{% extends "base.html" %}
{% load static %}
{% block title %}Востребованность{% endblock %}
{% block content %}
    <h2 class="demand-title">Востребованность</h2>
    <div class="salary-trend-row">
        <h2 class="dynamic-title">Динамика уровня зарплат по годам ({{ prof }})</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ salary_by_year_table|safe }}
            </div>
            <div class="plot">
                <img class="vacancies-by-year-plot" src="{{ salary_by_year_plot }}" alt="Динамика уровня зарплат по годам (C/C++ программист)" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>

    <div class="vacancy-trend-row">
        <h2 class="dynamic-title">Динамика количества вакансий по годам ({{ prof }})</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ vacancy_by_year_table|safe }}
            </div>
            <div class="plot">
                <img class="vacancies-by-year-plot" src="{{ vacancy_by_year_plot }}" alt="Динамика количества вакансий по годам (C/C++ программист)" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>

{% endblock %}
