{% extends "base.html" %}
{% load static %}

{% block title %}
    География
{% endblock %}

{% block content %}
    <h2 class="geography-title">География</h2>
    <h3 class="salary-level-title">Уровень зарплат по городам ({{ prof }})</h3>
    <div class="table-graph-wrapper geography-table-wrapper">
        <table class="geography-table">
            <thead>
                <tr>
                    <th class="geography-city-header">Город</th>
                    <th class="geography-salary-header">Средняя Зарплата</th>
                </tr>
            </thead>
            <tbody>
                {% for row in area_salary_prof %}
                    <tr class="geography-row">
                        <td class="geography-city">{{ row.area_name }}</td>
                        <td class="geography-salary">{{ row.average_salary }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'geography/img/average_salaries.png' %}" alt="График" class="geography-salary-graph">
    </div>

    <h3 class="vacancy-share-title">Доля вакансий по городам ({{ prof }})</h3>
    <div class="table-graph-wrapper geography-table-wrapper">
        <table class="geography-table">
            <thead>
                <tr>
                    <th class="geography-city-header">Город</th>
                    <th class="geography-vacancy-header">Доля вакансий</th>
                </tr>
            </thead>
            <tbody>
                {% for row in area_count_prof %}
                    <tr class="geography-row">
                        <td class="geography-city">{{ row.area_name }}</td>
                        <td class="geography-vacancy">{{ row.vacancy_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'geography/img/vacancy_distribution.png' %}" alt="График" class="geography-vacancy-graph">
    </div>

{% endblock %}
