{% extends "base.html" %}
{% load static %}

{% block title %}
    География
{% endblock %}

{% block content %}
    <h2 class="geography-title">География</h2>
    <h3 class="salary-level-title">Уровень зарплат по городам ({{ prof }})</h3>
    <div class="table-graph-wrapper geography-table-wrapper">
        <div class="trend-table mt-3">{{ salary_by_city_table|safe }}</div>
        <img src="{{ salary_by_city_plot }}" alt="График" class="geography-salary-graph">
    </div>

    <h3 class="vacancy-share-title">Доля вакансий по городам ({{ prof }})</h3>
    <div class="table-graph-wrapper geography-table-wrapper">
        <div class="trend-table mt-3">{{ vacancy_by_city_table|safe }}</div>
        <img src="{{ vacancy_by_city_table }}" alt="График" class="geography-salary-graph">
    </div>

{% endblock %}
