{% extends "base.html" %}

{% block title %}
    <title>Последние вакансии по профессии {{ profession }}</title>
{% endblock %}

{% block content %}
    <h2 class="vacancies-title">Последние вакансии по профессии {{ profession }}</h2>

    {% if vacancies %}
        <ul class="vacancy-list">
            {% for vacancy in vacancies %}
                <li class="vacancy-list-item">
                    <div class="vacancy-header">
                        <strong class="vacancy-title">{{ vacancy.title }}</strong> <br>
                        <em class="vacancy-company">{{ vacancy.company }}</em> <br>
                        <span class="vacancy-region">{{ vacancy.region }}</span> <br>
                    </div>
                    <div class="vacancy-details">
                        <p class="vacancy-description"><strong>Описание:</strong> {{ vacancy.description }}</p>
                        <p class="vacancy-skills"><strong>Навыки:</strong> {{ vacancy.skills }}</p>
                        <p class="vacancy-salary">
                            <strong>Зарплата:</strong>
                            {% if vacancy.salary_from %}
                                от {{ vacancy.salary_from }}
                            {% endif %}
                            {% if vacancy.salary_to %}
                                до {{ vacancy.salary_to }}
                            {% endif %}
                            {% if vacancy.salary_currency %}
                                ({{ vacancy.salary_currency }})
                            {% endif %}
                        </p>
                        <p class="vacancy-publication-date"><strong>Дата публикации:</strong> {{ vacancy.publication_date }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-vacancies">На данный момент вакансии не найдены.</p>
    {% endif %}
{% endblock %}
