{% extends "base.html" %}
{% load static %}
{% block title %}Последние ваканси{% endblock %}
{% block content %}
    <h2 class="section-title">Навыки</h2>
    <div class="form-container-wrapper">
        <div class="form-container">
            <form method="get" action="{% url 'skills:skills' %}">
                <div class="form-group">
                    <label for="year" class="form-label">Выберите год:</label>
                    <select name="year" id="year" class="form-select">
                        {% for year in unique_years %}
                            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="form-button">Применить</button>
            </form>
        </div>
    </div>

    <div class="top-skills-row">
        <h2>Топ навыков для C/C++ программист</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ top_skills_table|safe }}
            </div>
            <div class="plot">
                <img class="top-skills-plot" src="{{ top_skills_plot }}" alt="Топ навыков" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>

{% endblock %}