{% extends "base.html" %}
{% load static %}
{% block title %}Последние ваканси{% endblock %}
{% block content %}
    <h2 class="section-title">Навыки</h2>
    <div class="form-container-wrapper">
        <div class="form-container">
            <form method="get" action="{% url 'skills:skills' %}">
                <div class="form-group">
                    <label for="year" class="form-label">Выберите год:</label>
                    <select name="year" id="year" class="form-select">
                        {% for year in unique_years %}
                            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="form-button">Применить</button>
            </form>
        </div>
    </div>
    <div class="year-block">
        <h3 class="skills-header">ТОП-20 навыков по годам для {{ prof }}. Наиболее высокочастотные навыки</h3>
        <div class="table-graph-wrapper">
            <img class="skills-plot" src="{{ top_skills_plot }}" alt="График" width="1000" height="600">
            <div class="trend-table mt-3">{{ top_skills_table|safe }}</div>
        </div>
    </div>
{% endblock %}