{% extends "base.html" %}
{% load static %}
{% block title %}Последние ваканси{% endblock %}
{% block content %}
    <h2 class="section-title">Навыки</h2>
    <div class="year-block">
        <h3 class="skills-header">ТОП-20 навыков по годам для {{ prof }}. Наиболее высокочастотные навыки</h3>
        <div class="table-graph-wrapper">
            <table class="skills-table">
                <thead class="skills-table-header">
                    <tr>
                        <th class="skill-column">Навык</th>
                        <th class="count-column">Количество</th>
                    </tr>
                </thead>
                <tbody class="skills-table-body">
                    {% for row in skills_prof %}
                        <tr class="skills-row">
                            <td class="skill-name">{{ row.skill_name }}</td>
                            <td class="skill-count">{{ row.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <img class="skills-plot" src="{% static 'skills/img/skills_plot.png' %}" alt="График" width="1000" height="600">
        </div>
    </div>
{% endblock %}
