{% extends 'base.html' %}
{% load static %}

{% block title %}Общая статистика{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title mt-4">Общая статистика</h1>

    <!-- Динамика уровня зарплат по годам -->
    <div class="salary-trend-row">
        <h2>Динамика уровня зарплат по годам</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ salary_by_year_table|safe }}
            </div>
            <div class="plot">
                <img class="salary-by-year-plot" src="{{ salary_by_year_plot }}" alt="Динамика зарплат" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>

    <!-- Динамика количества вакансий по годам -->
    <div class="vacancy-trend-row">
        <h2>Динамика количества вакансий по годам</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ vacancies_by_year_table|safe }}
            </div>
            <div class="plot">
                <img class="vacancies-by-year-plot" src="{{ vacancies_by_year_plot }}" alt="Динамика вакансий" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>

    <!-- Уровень зарплат по городам -->
    <div class="salary-by-city-row">
        <h2>Уровень зарплат по городам</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ salary_by_city_table|safe }}
            </div>
            <div class="plot">
                <img class="salary-by-city-plot" src="{{ salary_by_city_plot }}" alt="Зарплаты по городам" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>

    <!-- Доля вакансий по городам -->
    <div class="vacancy-share-by-city-row">
        <h2>Доля вакансий по городам</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ vacancy_share_by_city_table|safe }}
            </div>
            <div class="plot">
                <img class="vacancy-share-by-city-plot" src="{{ vacancy_share_by_city_plot }}" alt="Доля вакансий по городам" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>

    <!-- Форма для выбора года -->
    <div class="form-container">
        <form method="get" action="{% url 'statistics_page:statistics_page' %}">
            <div class="form-group">
                <label for="year" class="form-label">Выберите год:</label>
                <select name="year" id="year" class="form-select">
                    {% for year in unique_years %}
                        <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="form-button">Применить</button>
        </form>
    </div>

    <!-- Топ навыков -->
    <div class="top-skills-row">
        <h2>Топ навыков</h2>
        <div class="trend-group d-flex">
            <div class="trend-table">
                {{ top_skills_table|safe }}
            </div>
            <div class="plot">
                <img class="top-skills-plot" src="{{ top_skills_plot }}" alt="Топ навыков" onclick="openFullScreen(this)">
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для отображения графика на весь экран -->
<div class="fullscreen-modal" onclick="closeFullScreen()">
    <div class="modal-content">
        <button class="close-button" onclick="closeFullScreen()">X</button>
        <img id="fullscreen-img" src="" alt="График">
    </div>
</div>

{% endblock %}