{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="body-class">
        {% include 'includes/header.html' %}
        <main class="main-content">
            <aside class="sidebar">
                <ul class="nav nav-pills sidebar-nav">
                    {% with request.resolver_match.view_name as view_name %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'home:home' %}active{% endif %}" href="{% url 'home:home' %}">
                                Главная страница
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'statistics_page:statistics_page' %}active{% endif %}" href="{% url 'statistics_page:statistics_page' %}">
                                Общая статистика
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'demand:demand' %}active{% endif %}" href="{% url 'demand:demand' %}">
                                Восстребованность
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'geography:geography' %}active{% endif %}" href="{% url 'geography:geography' %}">
                                География
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'skills:skills' %}active{% endif %}" href="{% url 'skills:skills' %}">
                                Навыки
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'last_vacancies:last_vacancies' %}active{% endif %}" href="{% url 'last_vacancies:last_vacancies' %}">
                                Последние вакансии
                            </a>
                        </li>
                    {% endwith %}
                </ul>
            </aside>
            <div class="main-content-area">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% include 'includes/footer.html' %}
    </body>
</html>
